.calc-wrapper {
  max-width: 400px;

  background-color: #c0c0c0;
  border-radius: 0.25rem;
  padding: 1rem;
}

.calc-display {
  height: 4rem;
  padding: 0.5rem;
  font-size: 2rem;
  text-align: right;
  background-color: #BBDEFB;
}

.calc-btn {
  height: 3rem;
  width: 3rem;
  border-radius: 0.25rem;

  &-operator {
    background-color: #9FA8DA;
  }

  &-clear {
    background-color: #F48FB1;
  }

  &-result {
    background-color: #FFE082;
  }
}