<div class="container">
    <div class="calc-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="calc-display" ng-bind="vm.buffer">
                </div>
            </div>
        </div>

        <div class="buttons">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-3">
                    <button class="calc-btn calc-btn-clear" ng-click="vm.onButtonClick( 'fn', 'clr' )">C</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn calc-btn-operator" ng-click="vm.onButtonClick( 'operator', '/' )">/</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="calc-btn " ng-click="vm.onButtonClick( 'input', '7' )">7</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '8' )">8</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '9' )">9</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn calc-btn-operator" ng-click="vm.onButtonClick( 'operator', '*' )">X</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '4' )">4</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '5' )">5</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '6' )">6</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn calc-btn-operator" ng-click="vm.onButtonClick( 'operator', '-' )">-</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '1' )">1</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '2' )">2</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '3' )">3</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn calc-btn-operator" ng-click="vm.onButtonClick( 'operator', '+' )">+</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '0' )">0</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'input', '.' )">.</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn" ng-click="vm.onButtonClick( 'fn', 'del' )">Del</button>
                </div>
                <div class="col-3">
                    <button class="calc-btn calc-btn-result" ng-click="vm.onButtonClick( 'fn', 'eql' )">=</button>
                </div>
            </div>
        </div>
    </div>
</div>