:root {
  box-sizing: border-box;
}

/* Instruct all other elements to inherit their box-sizing */
*,
::before,
::after {
  box-sizing: inherit;
}
html {
  /* Set base font size to 10px */
  font-size: 0.875em;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #404040;
}

header.home {
  background-color: #a0a0a0;
}

$grid-margin: 2rem;
$grid-gutter: 1rem;

$half-grid-margin: $grid-margin / 2;



.container {
  padding-left: $half-grid-margin;
  padding-right: $half-grid-margin;
  margin-left: auto;
  margin-right: auto;
  @include mq($from: sm) {
    max-width: 540px;
  }
  @include mq($from: md) {
    max-width: 720px;
  }
  @include mq($from: lg) {
    max-width:960px;
  }
  @include mq($from: xl) {
    max-width: 1140px;
  }

}

.row {
  display: flex;
  flex-direction: column;
  margin-right: $grid-gutter / 2 * -1;
  margin-left: $grid-gutter / 2 * -1;
}

// Generate columns for a breakpoint
//
//   $bp : the name of a breakpoint
//
// Output:
//    Generates a set of grid columns for the given breakpoint
//
//    .col-md-1, .col-md-2, .col-md-3, ..., .col-md-12
//    .col-md-offset-1, .col-md-2, .col-md-3, ..., .col-md-12
@mixin generate-columns( $bp ) {

  @if $bp != '' {
    $bp: $bp + '-';
  }

  @for $i from 1 through 12 {
    $number: $i * 10;
    $percent: percentage($i/12);
    .col-#{$bp}#{$i} {
      flex: 0 0 #{$percent};
      max-width: #{$percent};
    }

    .col-#{$bp}offset-#{$i} {
      margin-left: #{$percent};
    }
  }
}

@mixin generate-column-padding {

  %column-common {
    padding-left: $grid-gutter / 2;
    padding-right: $grid-gutter / 2;
  }

  $list: '';
  $list: join( $list, map-keys( $mq-breakpoints ) );
  @each $bp in $list {
    @if $bp != '' {
      $bp: $bp + '-';
    }
    @for $i from 1 through 12 {
      .col-#{$bp}#{$i} {
        @extend %column-common;
      }

      .col-#{$bp}offset-#{$i} {
        @extend %column-common;
      }
    }
  }
}

@include generate-columns( "" );

@include mq($from: sm) {
  @include generate-columns( "sm" );
}

@include mq($from: md) {
  @include generate-columns( "md" );
}

@include mq($from: lg) {
  @include generate-columns( "lg" );
}

@include mq($from: xl) {
  @include generate-columns( "xl" );
}

@include generate-column-padding;


@include mq($from: md) {
  .row {
    flex-direction: row;
  }

  .row {
    //margin-left: $grid-gutter / 2;
    //width: calc(100% + $grid-gutter );
  }

  .row .column {
    margin-bottom: inherit;
    padding: 0 $grid-gutter / 2;
  }

}

.column-box {
  border-radius: 0.2rem;
  padding: 0.4rem;
  background-color: #a0a0a0;
}

.row {
  padding-bottom: 1rem;
}
